<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="SORTJOB.step0.inputFiles" value="C:\Users\r.saraf\Source\Repos\samples\MyFirstBatchApplication\MyFirstBatchApplication\data\input\sort_test.txt" />
  <add key="SORTJOB.step0.outputFile" value="C:\Users\r.saraf\Source\Repos\samples\MyFirstBatchApplication\MyFirstBatchApplication\data\input\sort_test_out.txt" />
  <add key="SORTJOB.step1.inputFiles" value="C:\Users\r.saraf\Source\Repos\samples\MyFirstBatchApplication\MyFirstBatchApplication\data\input\sort_test.txt" />
  <add key="SORTJOB.step1.outputFile" value="C:\Users\r.saraf\Source\Repos\samples\MyFirstBatchApplication\MyFirstBatchApplication\data\input\sort_test_out.txt" />
</appSettings>
