<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

	<targets>
		<target name="console" xsi:type="Console" layout="${time} ${level} ${threadid} ${callsite:className=False:fileName=True:methodName=False:includeSourcePath=False} ${message} ${exception:format=tostring:maxInnerExceptionLevel=2}" />
		<target name="logfile" xsi:type="File" fileName="C:\temp\Worker.txt" layout="${time} ${level} ${threadid} ${callsite:className=False:fileName=True:methodName=False:includeSourcePath=False} ${message} ${exception:format=tostring:maxInnerExceptionLevel=2}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="console" />
		<logger name="*" minlevel="Debug" writeTo="logfile" />
	</rules>
</nlog>
